#board {
  width: 600px;
  height: 400px;
  background: #ddd;
  margin: 40px auto;

  position: relative;
}

#ball {
  width: 10px;
  height: 10px;
  background: red;

  position: absolute;
  top: 100px;
  left: 300px;
}
